<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container navbar-fixed-bottom">

        <footer>
            <!-- this is footer -->
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span>
                <a th:href="@{/logout}">Sign Out</a>
            </span>

            <script type="text/javascript"
                    th:src="@{js/jquery.min.js}"></script>
            <script type="text/javascript"
                    th:src="@{js/boostrap.min.js}"></script>


        </footer>
    </div>

</div>
</body>
</html>