<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}" />

    <link rel="stylesheet" type="text/css"
          th:href="@{css/main.css}" />
</head>
<body>

<nav class="navbar navbar-fixed" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/petshop/">Petshop</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--http://www.thymeleaf.org/doc/articles/springsecurity.html-->
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                <li class="active"><a th:href="@{/petshop/listmagazine}">Magazine <span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/petshop/listangajati}">Angajati<span class="sr-only"></span></a></li>
                <li><a th:href="@{/petshop/listanimale}">Animale<span class="sr-only"></span></a></li>
                <li><a th:href="@{/petshop/listhrana}">Lista hrana<span class="sr-only"></span></a></li>
                <li><a th:href="@{/petshop/listimportator}">Importatori<span class="sr-only"></span></a></li>
                <li><a th:href="@{/petshop/listclient}">Clienti<span class="sr-only"></span></a></li>
                <li><a th:href="@{/petshop/listfactura}">Facturi<span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Sign Out</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script th:src="@{js/jquery.min.js}" type="application/javascript"></script>
</body>
</html>
