<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Animale</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Adaugati un nou Animal</h1>
            <table>
                <tr>
                    <th>Nume</th>
                    <th>Talie</th>
                    <th>Rasa</th>
                </tr>
                <tr>
            <form method="post" action="$" th:action="@{/petshop/addAnimal}" th:object="${Animal}">

                <th>
                    <input type="text" th:field="*{nume}" />
                </th>
                <th>
                    <input type="text" th:field="*{talie}"/>
                </th>
                <th>
                    <input type="text" th:field="*{rasa}"/>
                </th>

                <th><input type="submit" value="Submit"/></th>
                <th><a th:href="@{listanimale}">Anuleaza</a> </th>
            </form></tr>

            </table>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>