<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Angajat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Adaugati un nou Angajat</h1>
            <table>
            <tr>
                <th>Magazin</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Adresa</th>
                <th>CNP</th>
                <th>Salariu</th>
            </tr>
                <tr>
            <form method="post" action="$" th:action="@{/petshop/addAngajat}" th:object="${Angajat}">

                <th>
                    <select th:field="*{ID_Magazin}">
                        <option value="">-- Selecteaza magazin --</option>
                        <option th:each="shop : ${shops}" th:text="${shop.nume}"  th:value="${shop.ID_Magazin}"></option>
                    </select>
                </th>
                <th><input type="text" th:field="*{nume}" /></th>
                <th><input type="text" th:field="*{prenume}"/></th>
                <th><input type="text" th:field="*{adresa}"/></th>
                <th><input type="text" th:field="*{CNP}"/></th>
                <th><input type="number" th:field="*{salariu}"/></th>
                <th><input type="submit" value="Submit"/></th>
                <th><a th:href="@{listangajati}">Anuleaza</a> </th>
            </form></tr>
            </table>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>