<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hrana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Adaugati o noua hrana</h1>
            <table>
                <tr>
                    <th>Nume</th>
                    <th>Tip</th>
                    <th>Importator</th>
                    <th>Pret</th>
                </tr>
                <tr>
            <form method="post" action="$" th:action="@{/petshop/addHrana}" th:object="${hrana}">

                <th><input type="text" th:field="*{nume}" /></th>
                <th><input type="text" th:field="*{tip}"/></th>
                <th>
                    <select th:field="*{ID_Provizor}">
                        <option value="">-- Selecteaza importator --</option>
                        <option th:each="importator : ${importatori}" th:text="${importator.nume}"  th:value="${importator.ID_importator}"></option>
                    </select>
                </th>
                <th><input type="number" th:field="*{pret}"/></th>
                <th><input type="submit" value="Submit"/></th>
                <th><a th:href="@{listhrana}">Anuleaza</a> </th>
            </form></tr>
            </table>

        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>