<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Magazine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Adaugati un nou magazin</h1>
            <table>
                <tr>
                    <th>Nume</th>
                    <th>Adresa</th>
                    <th>Orar</th>
                </tr>
                <tr>
            <form method="post" action="$" th:action="@{/petshop/addShop}" th:object="${shop}">
                <th><input type="text" th:field="*{nume}" /></th>
                <th><input type="text" th:field="*{adresa}"/></th>
                <th><input type="text" th:field="*{orar}"/></th>
                <th><input type="submit" value="Submit"/></th>
                <th><a th:href="@{listmagazine.html}">Anuleaza</a> </th>
            </form>
                </tr>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>