<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Introduceti numele clientului</h1>
            <table>
                <tr><th>Nume</th>
                </tr>
                <tr>
                    <form method="post" action="$" th:action="@{/petshop/deleteClient}" th:object="${Client}">
                        <th><input type="text" th:field="*{nume}" /></th>
                        <th><input type="submit" value="Submit"/></th>
                    </form></tr>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>