<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <div>Editare Client</div>
            <table>
                <tr><th></th>
                    <th>Nume</th>
                    <th>Prenume</th>
                    <th>Adresa</th>
                    <th>CNP</th>
                </tr>
                <tr>
                    <form method="post" action="#" th:action="@{/petshop/editClientAction}" th:object="${Client}">
                        <th><input type="hidden" th:field="*{ID_Client}" /></th>
                        <th><input type="text" th:field="*{nume}" /></th>
                        <th><input type="text" th:field="*{prenume}"/></th>
                        <th><input type="text" th:field="*{adresa}"/></th>
                        <th><input type="text" th:field="*{CNP}"/></th>
                        <th><input type="submit" value="Submit"/></th>
                        <th><a th:href="@{listclient}">Anuleaza</a> </th>
                    </form>
                </tr>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>