<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hrana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Editare hrana</h1>
            <table>
                <tr><th></th>
                    <th>Nume</th>
                    <th>Tip</th>
                    <th>Pret</th>
                    <th>Importator</th>
                    <th></th>
                </tr>
                <tr>
                    <form method="post" action="#" th:action="@{/petshop/editHranaAction}" th:object="${hrana}">
                        <th><input type="hidden" th:field="*{ID_Hrana}" /></th>
                        <th><input type="text" th:field="*{nume}" /></th>
                        <th><input type="text" th:field="*{tip}"/></th>
                        <th><input type="number" th:field="*{pret}"/></th>
                        <th>
                            <select th:field="*{ID_Provizor}">
                                <option value="">-- Selecteaza importator --</option>
                                <option th:each="importator : ${importatori}" th:text="${importator.nume}"  th:value="${importator.ID_importator}"></option>
                            </select>
                        </th>
                        <th><input type="submit" value="Submit"/></th>
                        <th><a th:href="@{listhrana}">Anuleaza</a> </th>
                    </form>
                </tr>
            </table>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>