<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Importatori</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1> Lista importatori </h1>
            <div><a th:href="@{addImportator}">Adaugati un nou importator</a></div>
            <div>
                <table>
                    <tr>
                        <th>Nume</th>
                        <th>Adresa</th>
                        <th>ID_contract</th>
                        <th>Editare</th>
                        <th>Sterge</th>
                    </tr>
                    <tr th:each="importator : ${importatori}">

                        <th th:text="${importator.nume}"></th>
                        <th th:text="${importator.adresa}"></th>
                        <th th:text="${importator.ID_contract}"></th>
                        <td><a th:href="@{'/petshop/editImportator?importatorID=' + ${importator.ID_importator}}">edit</a></td>
                        <th>
                            <form action="#" onsubmit="return confirm('Stergeti?');" th:action="@{/petshop/deleteImportator}" th:method="post" th:object="${importator}">

                                <input type="hidden" th:name="importatorID" th:value="${importator.ID_importator}"/>
                                <button type="submit" value="Submit" class="btn btn-danger">Sterge</button>
                            </form>
                        </th>

                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>