<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hrana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Lista hrana</h1>
            <div><a th:href="@{addHrana}">Adaugati o noua hrana</a></div>
            <div>
                <table>
                    <tr>
                        <th>Nume</th>
                        <th>Tip</th>
                        <th>Importator</th>
                        <th>Pret</th>
                        <th>Editare</th>
                        <th>Sterge</th>
                    </tr>
                    <tr th:each="hrana : ${mancare}">

                        <th th:text="${hrana.nume}"></th>
                        <th th:text="${hrana.tip}"></th>
                        <th th:text="${hrana.importator.nume}"></th>
                        <th th:text="${hrana.pret}"></th>
                        <td><a th:href="@{'/petshop/editHrana?hranaID=' + ${hrana.ID_Hrana}}">edit</a></td>
                        <th>
                            <form action="#" onsubmit="return confirm('Stergeti?');" th:action="@{/petshop/deleteHrana}" th:method="post" th:object="${hrana}">

                                <input type="hidden" th:name="hranaID" th:value="${hrana.ID_Hrana}"/>
                                <button type="submit" value="Submit" class="btn btn-danger">Sterge</button>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>