<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Factura</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Lista Facturi</h1>
            <div>
                <table>
                    <tr>
                        <th>Nume Client</th>
                        <th>Nume Magazin</th>
                        <th>Nume Angajat</th>
                        <th>Data</th>
                        <th>Total</th>
                    </tr>
                    <tr th:each="factura : ${facturi}">

                        <th th:text="${factura.Client.nume}"></th>
                        <th th:text="${factura.magazin.nume}"></th>
                        <th th:text="${factura.Angajat.nume}"></th>
                        <th th:text="${factura.data}"></th>
                        <th th:text="${factura.total}"></th>

                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>