<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>angajati</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Lista angajati</h1>
            <div><a th:href="@{addAngajat}">Adaugati un nou Angajat</a></div>
            <div>
                <div>
                    <table>
                        <tr>
                            <th>Nume</th>
                            <th>Prenume</th>
                            <th>Adresa</th>
                            <th>CNP</th>
                            <th>Salariu</th>
                            <th>Magazin</th>
                            <th>Editare</th>
                            <th>Sterge</th>
                        </tr>
                    <tr th:each="Angajat : ${angajati}">
                        <th th:text="${Angajat.Nume}"></th>
                        <th th:text="${Angajat.Prenume}"></th>
                        <th th:text="${Angajat.Adresa}"></th>
                        <th th:text="${Angajat.CNP}"></th>
                        <th th:text="${Angajat.salariu}"></th>
                        <th th:text="${Angajat.magazin.nume}"></th>
                        <td><a th:href="@{'/petshop/editAngajat?angajatId=' + ${Angajat.ID_Angajat}}">edit</a></td>
                        <th>
                            <form action="#" onsubmit="return confirm('Stergeti?');" th:action="@{/petshop/deleteAngajat}" th:method="post" th:object="${angajati}">
                                <!--<input type="hidden" th:value="${shop.ID_Magazin}"/>-->
                                <input type="hidden" th:name="angajatID" th:value="${Angajat.ID_Angajat}"/>
                                <button type="submit" value="Submit" class="btn btn-danger">Sterge</button>
                            </form>
                        </th>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>