<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Shops</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Lista magazine</h1>
            <div><a th:href="@{addShop}">Adaugati un nou magazin</a></div>
            <div>
                <table>
                    <tr>
                        <th>Nume</th>
                        <th>Adresa</th>
                        <th>Orar</th>
                        <th>Editare</th>
                        <th>Sterge</th>
                    </tr>
                    <tr th:each="shop : ${shops}">
                        <th th:text="${shop.Nume}"></th>
                        <th th:text="${shop.Adresa}"></th>
                        <th th:text="${shop.Orar}"></th>
                        <td><a th:href="@{'/petshop/editShop?shopId=' + ${shop.ID_Magazin}}">edit</a></td>
                        <th>
                            <form onsubmit="return confirm('Confirma stergerea!');" action="#"
                                  th:action="@{/petshop/deleteShop}"
                                  th:method="post" th:object="${shop}">
                                <!--<input type="hidden" th:value="${shop.ID_Magazin}"/>-->
                                <input type="hidden" th:name="shopId" th:value="${shop.ID_Magazin}"/>
                                <button type="submit" value="Submit" class="btn btn-danger">Sterge</button>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>