<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Animale</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Lista animale</h1>
            <div><a th:href="@{addAnimal}">Adaugati un nou Animal</a></div>
            <div>
                <table>
                    <tr>
                        <th>Nume</th>
                        <th>Talie</th>
                        <th>Rasa</th>
                        <th>Editare</th>
                        <th>Sterge</th>
                    </tr>
                    <tr th:each="Animal : ${animale}">
                        <th th:text="${Animal.nume}"></th>
                        <th th:text="${Animal.talie}"></th>
                        <th th:text="${Animal.rasa}"></th>
                        <td><a th:href="@{'/petshop/editAnimal?animalId=' + ${Animal.ID_Animal}}">edit</a></td>
                        <th>
                            <form action="#" onsubmit="return confirm('Stergeti?');" th:action="@{/petshop/deleteAnimal}" th:method="post" th:object="${Animal}">

                                <input type="hidden" th:name="animalID" th:value="${Animal.ID_Animal}"/>
                                <button type="submit" value="Submit" class="btn btn-danger">Sterge</button>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>