<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Clienti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <h1>Lista clienti</h1>
            <div><a th:href="@{addClient}">Adaugati un nou Client</a></div>
            <div>
                <table>
                    <tr>
                        <th>Nume</th>
                        <th>Prenume</th>
                        <th>Adresa</th>
                        <th>CNP</th>
                        <th>Editare</th>
                        <th>Sterge</th>
                    </tr>
                    <tr th:each="Client : ${clienti}">

                        <th th:text="${Client.Nume}"></th>
                        <th th:text="${Client.Prenume}"></th>
                        <th th:text="${Client.Adresa}"></th>
                        <th th:text="${Client.CNP}"></th>
                        <td><a th:href="@{'/petshop/editClient?clientID=' + ${Client.ID_Client}}">edit</a></td>
                        <th>
                            <form action="#" onsubmit="return confirm('Stergeti?');" th:action="@{/petshop/deleteClient}" th:method="post" th:object="${Client}">

                                <input type="hidden" th:name="clientID" th:value="${Client.ID_Client}"/>
                                <button type="submit" value="Submit" class="btn btn-danger">Sterge</button>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>