<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}" href="../static/css/main.css" />

    <link rel="stylesheet" type="text/css"
          th:href="@{css/main.css}" />
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/register}" method="post">
                <fieldset>
                    <h1>Inregistrare</h1>

                    <div th:if="${param.sameUsername}">
                        <div class="alert alert-danger">
                            Username folosit de altcineva!
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            Ai fost delogat!
                        </div>
                    </div>
                    <div th:if="${param.passDontMatch}">
                        <div class="alert alert-danger">
                            Parolele nu coincid!
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmedPassword" id="confirmedPassword" class="form-control input-lg"
                               placeholder="Confirm Password" required="true"/>
                    </div>
                    <div>
                        <a th:href="@{/login}">Log in</a>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Creare"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>