<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hrana Petshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="content">
    <!--<iframe height="600" width="100%" style="border:none;" src="listmagazine.html" name="iframe_a"></iframe>-->
    <table>
        <tr>
            <th>Magazinul cu factura cea mai mare</th>
            <th>Angajatul cu cele mai multe facturi</th>
            <th>Animalul cu hrana cea mai scumpa</th>
            <th>Clientul care a cheltuit cel mai mult</th>
            <th>Magazinul cu stocul cel mai mic</th>
            <th colspan="4">Salariile medii per magazine</th>
        </tr>
        <tr>
            <th th:text="${magazine}"></th>
            <th th:text="${angajati}"></th>
            <th th:text="${mancare}"></th>
            <th th:text="${clienti}"></th>
            <th th:text="${stoc}"></th>
            <th th:each="salariu: ${salarii}">
                <span th:text="${salariu.Nume}"></span>
                <span th:text="${salariu.Salariu}"></span>
            </th>

        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
